<div class="container mt-5 d-flex justify-content-center">
    <% @profiles.each do | profile | %>
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"><%= image_tag profile.user.profile_thumbnail, class: "rounded", width: "155" if profile.user.profile_thumbnail %></div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0"><%= profile.user.email %></h4> <span><%= profile.tagline %></span>
                <%= link_to "Profile", profile, class: "btn btn-primary"%>
            </div>
        </div>
    </div>
    <br><br>
    <% end %>
</div>