h1, h2 {
    font-family: 'Merriweather', serif;
}

.opacity-img {
    opacity: 0.1;
}

.img-thumbnail {width:100px; height:100px}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}